@font-face {
    font-family: Bebas Neue;
    src: url('../bebasneue/BebasNeue/Regular.ttf');
}

body {
    font-family: 'Bebas Neue';
}

.top-nav {
    position: fixed;
    top: 0;
    background: linear-gradient(rgba(0, 51, 98, 0.5), rgba(0, 131, 253, 0.5));
    padding: 0.6vw;
}

.top-nav-caption {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.lang-image img {
    width: 100%;
    height: 100%;
}

.top-nav-logo-image {
    width: 60px;
    height: 60px;
}

.top-nav-logo-image img {
    width: 100%;
    height: 100%;
}

.large-caption {
    top: 20vw;
    left: 15vw;
    height: 7vw;
}

.small-caption {
    top: 9vw;
    right: 7vw;
    left: unset !important;
    height: 4vw;
}

.text-carousel {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1.2vw;
    color: rgb(0, 133, 255);
    padding: 1.25vw;
    font-size: 1.5vw;
}

.first_carousel_logo {
    width: 4vw;
    height: 4vw;
}

.first_carousel_logo_text {
    font-size: 1vw;
}

.first_carousel_logo img {
    width: 100%;
    height: 100%;
}

.second-caption {
    top: 20%;
    height: 80px;
    left: 7vw;
}

.second_carousel_logo {
    width: 5.5vw;
    height: 5.5vw;
}

.second_carousel_caption {
    font-size: 1.25vw;
}

.second_carousel_logo img {
    width: 100%;
    height: 100%;
}

.nav-link {
    font-size: 20px;
    text-transform: uppercase;
    padding: 0;
    margin-right: 45px;
}

.lang-image {
    width: 37px;
    height: 22.2px;
}

.carousel-caption {
    padding: 0 !important;
}

.navbar-toggler {
    font-size: unset !important;
}

.flip-card {
    position: relative;
    border-radius: 15px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.flip-card-image {
    width: 100%;
    height: 100%;
}

.flip-card-image img {
    width: 100%;
    height: 100%;
}

.flip-card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(rgba(0, 40, 141, 0.5), rgba(0, 122, 235, 0.5));
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.flip-card-caption-second {
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 15px;
    background: linear-gradient(rgba(0, 40, 141, 0.5), rgba(0, 122, 235, 0.5));
    transform: rotateY(180deg);
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.flip-card-caption,
.flip-card-caption-second {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-second-title {
    color: white;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.flip-card-second-text {
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.flip-card-mini-title {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.un-flip {
    background: url('../images/Frame 9.png') no-repeat fixed center;
    background-size: 100% 100%;
}

.un-title {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
}

.un-fl-tr-image {
    width: 100%;
    height: 100%;
}

.un-fl-tr-image img {
    width: 100%;
    height: 100%;
}

.gal-tit {
    font-size: 40px;
    color: rgb(0, 133, 255);
    text-transform: uppercase;
    font-weight: 500;
}

.gal-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.gal-image img {
    width: 100%;
    height: 100%;
}

.news-card {
    font-family: Gilroy;
    width: 100%;
    height: 100%;
    margin-right: unset;
    margin-left: unset;
}

.news-card>div {
    margin-bottom: 25px;
}

.news-card-image {
    width: 100%;
    height: 54%;
}

.news-card-image img {
    width: 100%;
    height: 100%;
}

.news-caption {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.news-title {
    font-size: 1vw;
    font-weight: 700;
    color: black;
    margin-bottom: 7px;
}

.news-text {
    font-size: 0.9vw;
    color: black;
    margin-bottom: 5px;
}

.news-date {
    font-size: 0.8vw;
    color: rgb(163, 163, 163);
}

.all-news-name a {
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(0, 108, 207);
    font-weight: 500;
    border-bottom: 1px solid rgb(0, 108, 207);
    padding-bottom: 5px;
}

.footer {
    background: rgb(0, 97, 187);
}

.footer-logo-image {
    width: 80px;
    height: 80px;
}

.footer-logo-image img {
    width: 100%;
    height: 100%;
}

.footer-logo-text {
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-menu-item {
    color: white;
    font-size: 16px;
    margin-right: 45px;
}

.footer-about-item {
    color: white;
    font-size: 15px;
    float: left;
    margin-right: 35px;
    text-transform: uppercase;
}

.footer-copyright {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    width: 175px;
    height: 14px;
    margin: 25px auto;
}

.news-all {
    margin-top: 8vw;
}

.bg-news {
    background: rgb(0, 97, 187) !important;
}

.news-show-breadcrumb {
    width: 100%;
    height: 19px;
    margin-bottom: 20px;
}

.br-cr-item,
.br-cr-icon {
    margin-right: 2px;
    font-size: 14px;
    float: left;
}

.news-show-image {
    width: 700px;
    height: 465px;
}

.news-show-image img {
    width: 100%;
}

.news-show-date {
    font-size: 13px;
    color: rgb(7, 158, 51);
    margin-bottom: 5px;
}

.news-show-title {
    font-size: 18px;
    font-weight: 700;
    color: rgb(60, 60, 60);
}

.news-show-text {
    margin-top: 15px;
    font-size: 15px;
}

.news-show-all {
    width: 100%;
    height: 24px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(60, 60, 60);
    margin-bottom: 20px;
}

.news-all-item {
    border-bottom: 1px solid rgb(60, 60, 60);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.news-un-la-date {
    font-size: 0.8vw;
    color: rgb(163, 163, 163);
}

@media (min-width:1550px) {
    .container {
        max-width: 1441.36px !important;
    }
}

@media (min-width: 1400px) {
    .second-caption {
        width: 606px;
        top: 181px;
        left: 63px;
    }

    .second_carousel_logo {
        width: 80px;
        height: 80px;
    }

    .second_carousel_caption {
        font-size: 20px;
    }

    .small-caption {
        top: 129px;
        right: -58px;
    }

    .first_carousel_logo {
        width: 50px;
        height: 50px;
    }

    .first_carousel_logo_text {
        font-size: 15px;
    }

    .large-caption {
        top: 242px;
        left: 100px;
        width: 407px !important;
    }

    .text-carousel {
        padding: 20px;
        font-size: 30px;
    }

    .top-nav-logo-image {
        width: 50px;
        height: 50px;
    }

    .top-nav-caption {
        font-size: 15px;
    }

    .nav-link {
        font-size: 15px;
        margin-right: 40px;
    }

    .lang-image {
        width: 30px;
    }

    .flip-card-second-title {
        font-size: 30px;
        margin-bottom: 0;
    }

    .flip-card-mini-title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .flip-card-second-text {
        font-size: 15px;
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .second-caption {
        width: 606px;
        top: 181px;
        left: 117px;
    }

    .second_carousel_logo {
        width: 80px;
        height: 80px;
    }

    .second_carousel_caption {
        font-size: 20px;
    }

    .small-caption {
        top: 102px;
        right: -84px;
    }

    .first_carousel_logo {
        width: 50px;
        height: 50px;
    }

    .first_carousel_logo_text {
        font-size: 15px;
    }

    .large-caption {
        top: 242px;
        left: 130px;
        width: 407px !important;
    }

    .text-carousel {
        padding: 20px;
        font-size: 30px;
    }

    .top-nav-caption {
        font-size: 12px;
    }

    .top-nav-logo-image {
        width: 45px;
        height: 45px;
    }

    .nav-link {
        font-size: 12px;
        margin-right: 30px;
    }

    .lang a {
        margin-right: 15px;
    }

    .lang-image {
        width: 30px;
    }

    .flip-card-second-title {
        font-size: 30px;
        margin-bottom: 0;
    }

    .flip-card-mini-title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .flip-card-second-text {
        font-size: 15px;
        margin-bottom: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .second-caption {
        width: 606px;
        top: 100px;
        left: 106px;
    }

    .second_carousel_logo {
        width: 80px;
        height: 80px;
    }

    .second_carousel_caption {
        font-size: 20px;
    }

    .small-caption {
        top: 60px;
        right: -12px;
    }

    .first_carousel_logo {
        width: 50px;
        height: 50px;
    }

    .first_carousel_logo_text {
        font-size: 15px;
    }

    .large-caption {
        top: 130px;
        left: 135px;
        width: 260px !important;
    }

    .text-carousel {
        padding: 10px;
        font-size: 20px;
    }

    .flip-card-second-title {
        font-size: 30px;
        margin-bottom: 0;
    }

    .flip-card-mini-title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .flip-card-second-text {
        font-size: 15px;
        margin-bottom: 0;
    }

    .news-date {
        font-size: 11px;
    }

    .news-title {
        font-size: 15px;
    }

    .news-text {
        font-size: 13px;
    }

    .lang-image {
        width: 20px;
    }

    .lang a {
        margin-right: 15px;
    }

    .nav-link {
        font-size: 10px;
        margin-right: 10px;
    }

    .top-nav-caption {
        font-size: 10px;
    }

    .top-nav-logo-image {
        width: 35px;
        height: 35px;
    }


    .top-nav .container-md {
        height: 100%;
    }

    .navbar {
        --bs-navbar-padding-y: unset !important;
        height: 100%;
    }

    .gal-lar>div:nth-child(3) {
        margin-top: 25px;
    }

    .news-all {
        margin-top: 6vw;
    }

    .news-show-image {
        width: 100%;
        height: unset;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .second-caption {
        width: 412px;
        top: 100px;
        left: 138px;
    }

    .second_carousel_logo {
        width: 80px;
        height: 80px;
    }

    .second_carousel_caption {
        font-size: 14px;
    }

    .small-caption {
        top: 60px;
        right: 9px;
    }

    .first_carousel_logo {
        width: 50px;
        height: 50px;
    }

    .first_carousel_logo_text {
        font-size: 15px;
    }

    .large-caption {
        top: 130px;
        left: 150px;
        width: 260px !important;
    }

    .text-carousel {
        padding: 10px;
        font-size: 20px;
    }

    .lang-image {
        width: 15px;
    }

    .lang a {
        margin-right: 15px;
    }

    .nav-link {
        font-size: 8px;
        margin-right: 20px;
    }

    .top-nav-caption {
        font-size: 8px;
    }

    .top-nav-logo-image {
        width: 30px;
        height: 30px;
    }

    .top-nav-logo-image img {
        margin-bottom: 6px;
    }

    .navbar {
        --bs-navbar-padding-y: unset !important;
        height: 100%;
    }

    .top-nav .container-md {
        height: 100%;
    }

    .navbar .container-fluid {
        padding: 0 !important;
    }

    .navbar-brand {
        padding: 0 !important;
    }

    #one {
        margin-bottom: 20px;
    }

    #two {
        margin-bottom: 20px;
    }

    .gal-sma>div:first-child {
        margin-bottom: 25px;
    }

    .gal-sma>div:nth-child(2) {
        margin-bottom: 25px;
    }

    .gal-lar>div:first-child {
        margin-bottom: 25px;
    }

    .gal-lar>div:nth-child(3) {
        margin-top: 25px !important;
    }

    .news-card>div {
        margin-bottom: 25px;
    }

    .news-title {
        font-size: 1.5vw;
    }

    .news-text {
        font-size: 1.3vw;
    }

    .news-date {
        font-size: 1.1vw;
    }

    .news-card-image {
        height: 57%;
    }

    #flip_one {
        margin-bottom: 30px;
    }

    #flip_three {
        margin-bottom: 30px;
    }

    .news-show-image {
        width: 100%;
        height: unset;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .small-caption {
        top: 60px;
        right: -20px;
    }

    .first_carousel_logo {
        width: 50px;
        height: 50px;
    }

    .first_carousel_logo_text {
        font-size: 15px;
    }

    .large-caption {
        top: 130px;
        left: 130px;
        width: 260px !important;
    }

    .text-carousel {
        padding: 10px;
        font-size: 20px;
    }

    .flip-card-text {
        font-size: 24px;
        padding: 15px;
        border-radius: 15px;
    }

    .flip-card-second-title {
        font-size: 24px;
        margin-bottom: 0;
    }

    .flip-card-mini-title {
        font-size: 18px;
        margin-bottom: 0;
    }

    .flip-card-second-text {
        font-size: 15px;
        margin-bottom: 1px;
    }

    .second-caption {
        width: 406px;
        top: 100px;
        left: 117px;
    }

    .second_carousel_logo {
        width: 80px;
        height: 80px;
    }

    .second_carousel_caption {
        font-size: 14px;
    }

    .top-nav-logo-image {
        width: 40px;
        height: 40px;
    }

    .lang-image {
        width: 18px;
    }

    .lang a {
        margin-right: 15px;
    }

    #top-contact {
        margin-bottom: 0 !important;
    }

    .top-nav-caption {
        font-size: 12px;
    }

    .navbar-toggler {
        padding: 5px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: unset;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }

    .navbar {
        padding: 0 !important;
    }

    .navbar .container-fluid {
        padding: 0 !important;
    }

    .nav-link {
        font-size: 10px;
        margin-bottom: 10px !important;
    }

    .con {
        padding-bottom: 0 !important;
    }

    .navbar-collapse {
        padding-top: 10px;
    }

    .lang {
        width: 20%;
    }

    #one {
        margin-bottom: 30px;
    }

    #two {
        margin-bottom: 30px;
    }

    #three {
        margin-bottom: 30px;
    }

    #flip_one {
        margin-bottom: 30px;
    }

    #flip_three {
        margin-bottom: 30px;
    }

    .gal-sma>div:first-child {
        margin-bottom: 25px;
    }

    .gal-sma>div:nth-child(2) {
        margin-bottom: 25px;
    }

    .gal-sma>div:nth-child(3) {
        margin-bottom: 25px;
    }

    .gal-lar>div:first-child {
        margin-bottom: 25px;
    }

    .gal-lar>div:nth-child(3) {
        margin-top: 25px !important;
    }

    .news-card>div {
        margin-bottom: 25px;
    }

    .news-title {
        font-size: 2.5vw;
    }

    .news-text {
        font-size: 2.3vw;
    }

    .news-date {
        font-size: 2.1vw;
    }

    .news-card-image {
        height: 63%;
    }

    .footer-about-item {
        margin-bottom: 5px;
        float: unset;
    }

    #footer-about {
        text-align: center;
    }

    .news-all {
        margin-top: 9vw;
    }

    .news-show-image {
        width: 100%;
        height: unset;
    }

    .footer-menu-item {
        float: unset;
    }

    #footer-menu {
        text-align: center;
    }

    #footer-logo {
        display: block !important;
        text-align: center;
    }

    .footer-logo-image {
        margin-bottom: 20px;
    }
}

@media (max-width: 575.98px) {
    .second-caption {
        width: 320px;
        top: 35px;
        left: 13px;
    }

    .second_carousel_logo {
        width: 60px;
        height: 60px;
    }

    .second_carousel_caption {
        font-size: 14px;
    }

    .flip-card-text {
        font-size: 18px;
        padding: 10px;
        border-radius: 7px;
    }

    .flip-card-second-title {
        font-size: 12px;
        margin-bottom: 0;
    }

    .flip-card-mini-title {
        font-size: 10px;
        margin-bottom: 0;
    }

    .flip-card-second-text {
        font-size: 8px;
        margin-bottom: 1px;
    }

    .un-title {
        font-size: 20px;
    }

    .gal-tit {
        font-size: 30px;
    }

    .small-caption {
        top: 50px;
        right: -110px;
    }

    .first_carousel_logo {
        width: 50px;
        height: 50px;
    }

    .first_carousel_logo_text {
        font-size: 15px;
    }

    .large-caption {
        top: 110px;
        left: 20px;
        width: 260px !important;
    }

    .text-carousel {
        padding: 10px;
        font-size: 20px;
    }

    .navbar-toggler {
        padding: 5px;
    }

    .lang-image {
        width: 15px;
    }

    .lang a {
        margin-right: 15px;
    }

    #top-contact {
        margin-bottom: unset !important;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: unset;
    }

    .navbar-toggler-icon {
        width: 20px;
        height: 20px;
    }

    .top-nav-logo-image {
        width: 30px;
        height: 30px;
    }

    .top-nav-logo-image img {
        margin-bottom: 6px;
    }

    .top-nav-caption {
        font-size: 8px;
    }

    .navbar {
        padding: 0 !important;
    }

    .navbar .container-fluid {
        padding: 0 !important;
    }

    .nav-link {
        font-size: 8px;
        margin-bottom: 10px !important;
    }

    .con {
        padding-bottom: 0 !important;
    }

    .lang {
        width: 50%;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    #one {
        margin-bottom: 30px;
    }

    #two {
        margin-bottom: 30px;
    }

    #three {
        margin-bottom: 30px;
    }

    #flip_one {
        margin-bottom: 30px;
    }

    #flip_three {
        margin-bottom: 30px;
    }

    .gal-sma>div:first-child {
        margin-bottom: 25px;
    }

    .gal-sma>div:nth-child(2) {
        margin-bottom: 25px;
    }

    .gal-sma>div:nth-child(3) {
        margin-bottom: 25px;
    }

    .gal-lar>div:first-child {
        margin-bottom: 25px;
    }

    .gal-lar>div:nth-child(3) {
        margin-top: 25px !important;
    }

    .news-card>div {
        margin-bottom: 25px;
    }

    .news-title {
        font-size: 15px;
    }

    .news-text {
        font-size: 13px;
    }

    .news-date {
        font-size: 11px;
    }

    .news-card-image {
        height: 63%;
    }

    .footer-about-item {
        margin-bottom: 5px;
        float: unset;
        font-size: 10px;

    }

    #footer-about {
        text-align: center;
    }

    .news-all {
        margin-top: 10vw;
    }

    .news-show-image {
        width: 100%;
        height: unset;
    }

    .footer-menu-item {
        float: unset;
        font-size: 10px;
        margin-right: 30px;
        text-transform: uppercase;
    }

    #footer-menu {
        text-align: center;
    }

    #footer-logo {
        display: block !important;
        text-align: center;
    }

    .footer-logo-image {
        margin-bottom: 10px;
        width: 60px;
        height: 60px;
    }

    .footer-logo-text {
        font-size: 10px;
    }
}
